.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--color-background);
    padding: 20px;
    height: 105px;
}

.logo{

}

.call{
    cursor: pointer;
    transition: 0.3s ease all;
    border-bottom: 4px solid var(--color-primary);
}

.call:hover{
    border-bottom: 4px solid var(--color-secondary);
}

.social{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.socialIcon{
    font-size: 2rem;
    color: var(--color-primary);
}

.social span{
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}

.social:hover span{
    border-bottom: 2px solid var(--color-primary);
}

.phoneBlock{
    display: flex;
    gap: 50px;
}

.phone{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.5rem;
    font-weight: 600;
}

.phoneIcon{
    font-size: 1.8rem;
    color: var(--color-primary);
}

@media (max-width: 1200px) {
    .phoneBlock{
        flex-direction: column;
        gap: 5px;
    }
}
@media (max-width: 992px) {
    .header{
        justify-content: center;
        padding: 5px;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 10px;
        height: unset;
    }

    .logo{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo img{
        height: 100%;
        object-fit: cover;
    }

    .phone{
        font-size: 1.1rem;
    }
}
@media (max-width: 768px) {}
@media (max-width: 500px) {}

