
.call{
    cursor: pointer;
    transition: 0.3s ease all;
    border-bottom: 4px solid var(--color-accent);
}

.call:hover{
    border-bottom: 4px solid var(--color-secondary);
}

.social{
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--color-primary);
    cursor: pointer;
}

.socialIcon{
    font-size: 2rem;
    color: var(--color-dark);
}

.social span{
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}

.social:hover span{
    border-bottom: 2px solid var(--color-primary);
}

.phone{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-primary);
}

.phoneIcon{
    font-size: 1.8rem;
    color: var(--color-dark);
}