.title{
    font-size: 2rem;
    margin-bottom: 40px;
}

.content{
    display: flex;
    padding-bottom: 50px;
}

.content > div{
    flex: 1;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 40px;
}

.description p{
    margin-bottom: 20px;
}

.description span{
     flex-grow: 1;
 }

.slider{
    max-width: 50%;
}

@media (max-width: 992px) {
    .slider{
        max-width: 40%;
    }
}
@media (max-width: 768px) {
    .content{
        flex-direction: column;
        gap: 50px;
    }

    .slider{
        max-width: 650px;
    }
}
@media (max-width: 500px) {

}