.hero{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    gap: 20px;
}

.list{
    background: url("../../../public/images/background.jpg") center center;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 500px;
}

.list:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.textBlock{
    position: relative;
    height: 100%;
    z-index: 1;
    color: white;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero h1{
    font-weight: 600;
    font-size: 2.2rem;
    padding: 20px;
    font-family: var(--title-font);
    text-align: center;
    position: relative;
    width: max-content;
    opacity: 0;
}

.hero h1:before{
    content: "";
    position: absolute;
    left: -15px;
    bottom: 48%;
    height: 4px;
    width: 25px;
    background: var(--color-accent);
}

.hero h1:after{
    content: "";
    position: absolute;
    right: -15px;
    bottom: 48%;
    height: 4px;
    width: 25px;
    background: var(--color-accent);
}

.advantages{
    font-size: 1.1rem;
    display: flex;
}

.advantages > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow-wrap: anywhere;
    font-size: 0.9rem;
    align-items: center;
    text-align: center;
}

.advantages img{
    width: 60px;
    height: auto;
}

.advantage {
    opacity: 0;
}

@media (max-width: 768px) {
    .hero h1{
        font-weight: 600;
        font-size: 1.5rem;
        padding: 20px;
        font-family: var(--title-font);
        text-align: center;
        position: relative;
        width: max-content;
        opacity: 0;
    }

    .advantages{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .advantages > div{
        min-width: 150px;
        gap: 20px;
    }

    .advantages img{
        width: 45px;
        height: auto;
    }
}
@media (max-width: 500px) {
    .hero h1{
        font-size: 1.2rem;
    }

    .hero h1:before, .hero h1:after{
        display: none;
    }

    .advantages > div{
        min-width: 110px;
        gap: 10px;
    }
}