@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-container{
  z-index: 99999 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--main-font);
}

a{
  text-decoration: none;
  text-underline: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}

/* END RESET */



/* COLORS */

:root{
  --color-gradient: linear-gradient(53deg, rgb(211,188,103) 0%, rgb(211,188,103) 100%);
  --color-gradient-light: linear-gradient(53deg, rgba(116,114,40,1) 0%, rgba(72,72,19,0.3) 100%);
  /*--color-primary: #71704e;*/
  --color-primary: #71684b;
  --color-accent: rgb(211,188,103);
  --color-accent-opacity: rgba(211,188,103, 0.7);
  --color-light: rgba(107,106,31, 0.1);
  --color-background: #f5f5f5;
  --color-secondary: #d3bc67;
}


/* spaces */

.mt-30{
  margin-top: 30px;
}

/* UI */

.button, .button-rounded, .button-small{
  padding: 20px 40px;
  background: var(--color-primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  border: none;
  width: max-content;
}

.button-rounded{
  border-radius: 50px;
}

.button-small{
  padding: 5px 40px;
}

.button:hover, .button-rounded:hover, .button-small:hover{
  background: var(--color-accent);
}

/* STYLES */

html{
  font-family: var(--main-font);
  font-size: 16px;
}

header, main, footer{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  background: var(--color-background);
  padding: 20px;
  height: 105px;
  /*border-bottom: 2px solid var(--color-primary);*/
}

.logo{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Mate SC", serif;
}

main{
  margin-top: 5px;
  padding: 20px 20px;
  background: var(--color-background);
}

.sub-title{
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-primary);
  font-weight: 600;
  padding: 10px;
  position: relative;
  z-index: 1;
  width: 100%;
}

section h2{
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-primary);
  font-weight: 600;
}

footer{
  background: var(--color-background);
  padding: 50px;
  margin-top: 5px;
}
